[ req ]
prompt = no
distinguished_name = req_distinguished_name

[ req_distinguished_name ]
C = NG
ST = Lagos
L = locality
O = organization
OU = organizationName
CN = commonName
emailAddress = test@email.com
